{% extends 'extends/base.html' %}

<!-- Title -->
{% block title %} Medecine {% endblock %}

<!-- Header:Banner -->
{% block banner %} 

{% endblock %} 

<!-- Body  -->
{% block body %} 
    <div class="container" style="text-align: center;">
        <h1 style="font-size: 180px">404</h1>
        <p>We're sorry, the page you are looking for could not be found. It may have been moved, deleted, or does not exist.</p>
        <a href="{% url 'medecine:index' %}" type="button" class="btn btn-outline-secondary">Medecine list</a>
    </div>
   
{% endblock %}