@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/*************** RESET **************/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}


/* Titles */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

/* Backgroud color*/
.bg-color-light{
  background-color: var(--bg-color-light);
}

.bg-color-dark{
  background-color: var(--bg-color-dark);
}

.text-center{
  text-align:center;
}

/* Container */
.container {
  width: calc(100% - var(--container-padding)*2);
  box-sizing: border-box;
  max-width: calc(var(--container-width) - var(--container-padding)*2);
  margin: 0px auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin-top:1.5rem;
  margin-bottom: 1.5rem;
}

.container-fluid {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  padding-left: calc(50% - var(--container-width)/2 + var(--container-padding)*2);
  padding-right: calc(50% - var(--container-width)/2 + var(--container-padding)*2);
  margin-top:1.5rem;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 1000px) {
  .container-fluid {
    padding-left: 40px;
    padding-right: 40px;
  }
}

/* Button */
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover,
.btn:focus {
  text-decoration: none;
}

.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-show-more{
  height: 40px;

}
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.btn-secondary:focus,
.btn-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-light {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-light:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.btn-light:focus,
.btn-light.focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-dark:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.btn-dark:focus,
.btn-dark.focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-outline-primary {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-secondary {
  color: #6c757d;
  background-color: transparent;
  background-image: none;
  border-color: #6c757d;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}


.btn-outline-light {
  color: #f8f9fa;
  background-color: transparent;
  background-image: none;
  border-color: #f8f9fa;
}

.btn-outline-light:hover {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-outline-light:focus,
.btn-outline-light.focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-outline-dark {
  color: #343a40;
  background-color: transparent;
  background-image: none;
  border-color: #343a40;
}

.btn-outline-dark:hover {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-outline-dark:focus,
.btn-outline-dark.focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-link {
  font-weight: 400;
  color: #007bff;
  background-color: transparent;
}

.btn-link:hover {
  color: #0056b3;
  text-decoration: underline;
  background-color: transparent;
  border-color: transparent;
}

.btn-link:focus,
.btn-link.focus {
  text-decoration: underline;
  border-color: transparent;
  box-shadow: none;
}

.btn-lg,
.btn-group-lg>.btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.btn-sm,
.btn-group-sm>.btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}


/* Card */
.card {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.btn-card{
  align-self: flex-end;
}
.card>hr {
  margin-right: 0;
  margin-left: 0;
}


.card-body {
  display:flex;
  flex-direction: column;
  justify-content: center;
  
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
  opacity: .7;
  font-style: italic;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link+.card-link {
  margin-left: 1.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header+.list-group .list-group-item:first-child {
  border-top: 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}







.card-deck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card-deck .card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-deck {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .card-deck .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
  }
}

.card-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card-group>.card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
  }

  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}

/* Form */
.form-group {

  margin-bottom: 1rem;
}
.input-group > .form-control:not(:first-child),
.input-group > .custom-select:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group > .form-control:not(:last-child),
.input-group > .custom-select:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}


.input-group > .form-control + .form-control,
.input-group > .form-control + .custom-select,
.input-group > .form-control + .custom-file,
.input-group > .custom-select + .form-control,
.input-group > .custom-select + .custom-select,
.input-group > .custom-select + .custom-file,
.input-group > .custom-file + .form-control,
.input-group > .custom-file + .custom-select,
.input-group > .custom-file + .custom-file {
  margin-left: -1px;
}

.input-group > .form-control:focus,
.input-group > .custom-select:focus,
.input-group > .custom-file:focus {
  z-index: 3;
}

.input-group > .form-control,
.input-group > .custom-select,
.input-group > .custom-file {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
.form-inline .form-control-plaintext {
  display: inline-block;
}

.was-validated .form-control:invalid ~ .invalid-feedback,
.was-validated .form-control:invalid ~ .invalid-tooltip, .form-control.is-invalid ~ .invalid-feedback,
.form-control.is-invalid ~ .invalid-tooltip, .was-validated
.custom-select:invalid ~ .invalid-feedback,
.was-validated
.custom-select:invalid ~ .invalid-tooltip,
.custom-select.is-invalid ~ .invalid-feedback,
.custom-select.is-invalid ~ .invalid-tooltip {
  display: block;
}

.was-validated .form-control:invalid, .form-control.is-invalid, .was-validated
.custom-select:invalid,
.custom-select.is-invalid {
  border-color: #dc3545;
}

.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus, .was-validated
.custom-select:invalid:focus,
.custom-select.is-invalid:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}


.was-validated .form-control:valid ~ .valid-feedback,
.was-validated .form-control:valid ~ .valid-tooltip, .form-control.is-valid ~ .valid-feedback,
.form-control.is-valid ~ .valid-tooltip, .was-validated
.custom-select:valid ~ .valid-feedback,
.was-validated
.custom-select:valid ~ .valid-tooltip,
.custom-select.is-valid ~ .valid-feedback,
.custom-select.is-valid ~ .valid-tooltip {
  display: block;
}

.was-validated .form-control:valid, .form-control.is-valid, .was-validated
.custom-select:valid,
.custom-select.is-valid {
  border-color: #28a745;
}

.was-validated .form-control:valid:focus, .form-control.is-valid:focus, .was-validated
.custom-select:valid:focus,
.custom-select.is-valid:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

select.form-control-lg:not([size]):not([multiple]), .input-group-lg > select.form-control:not([size]):not([multiple]),
.input-group-lg > .input-group-prepend > select.input-group-text:not([size]):not([multiple]),
.input-group-lg > .input-group-append > select.input-group-text:not([size]):not([multiple]),
.input-group-lg > .input-group-prepend > select.btn:not([size]):not([multiple]),
.input-group-lg > .input-group-append > select.btn:not([size]):not([multiple]) {
  height: calc(2.875rem + 2px);
}

select.form-control-sm:not([size]):not([multiple]), .input-group-sm > select.form-control:not([size]):not([multiple]),
.input-group-sm > .input-group-prepend > select.input-group-text:not([size]):not([multiple]),
.input-group-sm > .input-group-append > select.input-group-text:not([size]):not([multiple]),
.input-group-sm > .input-group-prepend > select.btn:not([size]):not([multiple]),
.input-group-sm > .input-group-append > select.btn:not([size]):not([multiple]) {
  height: calc(1.8125rem + 2px);
}

.form-control-lg, .input-group-lg > .form-control,
.input-group-lg > .input-group-prepend > .input-group-text,
.input-group-lg > .input-group-append > .input-group-text,
.input-group-lg > .input-group-prepend > .btn,
.input-group-lg > .input-group-append > .btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.form-control-sm, .input-group-sm > .form-control,
.input-group-sm > .input-group-prepend > .input-group-text,
.input-group-sm > .input-group-append > .input-group-text,
.input-group-sm > .input-group-prepend > .btn,
.input-group-sm > .input-group-append > .btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.form-control-plaintext.form-control-sm, .input-group-sm > .form-control-plaintext.form-control,
.input-group-sm > .input-group-prepend > .form-control-plaintext.input-group-text,
.input-group-sm > .input-group-append > .form-control-plaintext.input-group-text,
.input-group-sm > .input-group-prepend > .form-control-plaintext.btn,
.input-group-sm > .input-group-append > .form-control-plaintext.btn, .form-control-plaintext.form-control-lg, .input-group-lg > .form-control-plaintext.form-control,
.input-group-lg > .input-group-prepend > .form-control-plaintext.input-group-text,
.input-group-lg > .input-group-append > .form-control-plaintext.input-group-text,
.input-group-lg > .input-group-prepend > .form-control-plaintext.btn,
.input-group-lg > .input-group-append > .form-control-plaintext.btn {
  padding-right: 0;
  padding-left: 0;
}


.form-control-plaintext {
  display: block;
  width: 100%;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  margin-bottom: 0;
  line-height: 1.5;
  background-color: transparent;
  border: solid transparent;
  border-width: 1px 0;
}
.form-control-file,
.form-control-range {
  display: block;
  width: 100%;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px);
}

select.form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}


.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/* configuration button Link */

html {
  font-family: 'Cormorant Garamond';
  line-height: 1.15;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  position :relative;
  top:5rem;
  right:0;
  left:0;

  font-family: 'Cormorant Garamond', "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;

  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}



/* Configuration Bootstrap */
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #0f0f0f;
  border-color: #493f75;
  margin: 24px 0px;
  padding: 8px 15px;
  color: #fff;
}

.btn-outline-primary,
.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:visited,
.btn-outline-primary:focus {
  background-color: #fff;
  border-color: #493f75;
  outline-color: #493f75;
  margin: 24px 0px;
  padding: 8px 15px;
  color: #493f75;
}

/***************************************
  *************** Start ******************
  ***************************************/
  :root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
  
    --gray: #6c757d;
    --gray-dark: #343a40;
  
    --primary: #493f75;
    --secondary: #4361ee;
  
    --light: #f8f9fa;
    --dark: #343a40;
  
    --bg-primary: #000000;
    --bg-secondary: #6c757d;
    --bg-light: #f8f9fa;
    --bg-dark: #343a40;
  
    --rounded: 0.25rem;
  
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
  
    --container-width: 1000px;
    /* n'oublie pas de changé media query*/
    --container-padding: 20px;
  
    --bg-color-light:rgba(73, 63, 117, .05);
    --bg-color-dark:rgba(73, 63, 117, .9);
  }


  .banner{
    position:fixed;
    top:0;  
    width:100%;
    z-index: 5;
  }
  .trailer{
    text-align: center;
    padding: 10px;
  
    color:rgb(0, 0, 0);
    background-color: #f7f7f7;
  }
  .trailer a{
    color: inherit;
  }



  .navbar {
    height:auto;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 300;
  }
/*scrolled*/
  .navbar-scrolled{
    justify-content: space-between;
    flex-direction: row;
    background: linear-gradient(to bottom,rgb(58, 58, 58), #000);
    
  }

 

  
  .navbar-menu {
   
    display: flex;
    justify-content: center;
    width: 100%;
    padding :1rem;
    background: linear-gradient(to bottom,rgb(58, 58, 58), #000);
 
  }

/*scroled */
  .navbar-menu-scrolled {
    justify-content: space-between;
    background: transparent;
    
  }
 

 
  
  .navbar-brand{
    
    margin-right: 3rem;
    padding: 0.5rem;
    font-size: 1.25rem;
    color: #fff;
    opacity: 1;
  }
  
  .navbar-brand img{
    width:200px;
    height: 200px;
  }

  .navbar-brand-img{
    width: 50px!important;
    height: 50px!important;
  }

  
  .navbar-brand:hover{
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
  }
  
  
  .navbar .humberger{
    display:none;
    padding:0.5rem;
    cursor:pointer;
    padding:23px;
  }
  
  
  
  .navbar .bar{
    display:block;
    width:25px;
    height: 3px;
    margin:5px auto;
    background-color: white;
    border-radius: 3px;
    transition: all .3s ease-in-out;
  
  }

  .nav{
    display: flex;
    background-color: #000;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
  }
/*** scrolled ***/
  .nav-scrolled{
    margin-bottom: 0px;
    background-color: transparent;
  }

 
  
  .nav-item {
    display: inline-block;
    padding: 0.9rem;
  
  }
  
  .nav-link {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #fff;
    opacity: .7;
  }
  
  .nav-link:hover{
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
  }

 
  
  
  
  @media screen and (max-width: 696px) and (min-width: 0px){
    .navbar{
      flex-direction: column;
      align-items: stretch;
      text-align: center;
      padding:0px;
      z-index: 300;
    }
  
    .navbar-menu{
      margin:0rem;
      padding: 1rem;
      justify-content: space-between;
      
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    
    }
  
  .navbar-brand{
      margin-right:0px;
      opacity: 1;
  }
  
  .navbar .humberger{
    display:block;
  }
  .humberger.active .bar:nth-child(2){
    opacity:0;
  }
  .humberger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .humberger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  .navbar .nav{
    display: none;
  }
   
    .navbar .nav.active{
      display:block;
      
  
    }
    .nav-item{
      padding-top:1.8rem;
      padding-bottom:1.8rem;
    }
    .nav-item{
      display:block;
    }
    .navbar-brand img{
        width:50px;
        height: 50px;
      }
  
  }
  
  /*-------------------- header ----------------------*/
  .header{
    margin-top:282px;
  }
.header-container{
    height:400px;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-subtitle{
    opacity:.8;
    letter-spacing: .2rem;
  }
  
  .header-body{
    width: 40%;
    height: auto;
  }
  .header-img{
    width:60%;
    height: auto;
  }
  
  
  @media screen and (max-width: 696px) and (min-width: 0px){
    .header{
      margin-top:120px;
    }
    .header-container{
     
      height:auto;
      flex-direction: column;
      flex-direction: column-reverse;
    }
    .header-img, .header-body{
      width:100%;
      height: auto;
    }
  
    .header-body{
      margin-top:20px;
      text-align:center;
    }
  }



  .video-header {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); /* Optionnel : ajoute un fond sombre */
    z-index: 200;
  }




  /*--------------- Qui some nous ? ---------------*/

  .section-container{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  .section-title{
    padding-bottom:1.5rem;
  }
  
  
  .section-header{
    text-align:center;
  }
  .section-content{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }
  .section-text{
    padding:20px 40px;
    width:60%;
    height: auto;
  }
  
  .section-img{
    width:40%;
    height: auto;
  }
  
  .card:hover{
    box-shadow: 0px 0px 20px var(--bg-color-light);
  }
  @media screen and (max-width: 696px) and (min-width: 0px){
    .section-content{
      flex-direction: column;
      flex-direction: column-reverse;
    }
    .section-img, .section-text{
      width:100%;
      padding:0px 0px;
      height: auto;
    }
  
    .section-body{
      margin-top:20px;
      padding:0px;
      text-align: center;
    }
  
    .section-text{
      text-align: left;
    }
  }

  
  .section-content .card{
    text-align: center;
    width:20rem;
    margin-left:2rem;
    margin-right:2rem;
  }
  
  @media screen and (max-width: 696px) and (min-width: 0px){
    .section-content .card{
      width:100%;
      height: auto;
      margin-bottom:2rem;
      margin-right:0px;
      margin-left:0px;
    }
  }
.social-media-header .fa-square-snapchat{
  
}

.fa-star {
  cursor: pointer;
  color: gray;
}

.fa-star.filled {
  color: black;
}
.fa-star.fa-solid , .fa-star.fa-regular{
  color : gold;
}

.social-media-header-fixed{
  position:fixed;
  bottom: 450px;
  right:0px;

  width:auto;
  height:80px;
  

  margin-top: 100px;
  padding:3px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  align-items: center;


  color:#fff;
  /*border:1px solid rgb(189, 189, 189);*/
  border-right:none;
  border-radius:  3px 0px 0px 3px;
  box-shadow: 0px 0ch 3px rgba(0, 0, 0, 0.507) ;
  background-color:#cfcfcf;
  transition: opacity 0.5s ease, visibility 0.5s ease; /* Transition douce */

  
}




  /*--------------- Presentation ---------------*/
  
  .image-grid {
    display: grid;
    gap: 20px; 
    padding: 20px;
   
  }

  .image-item{
    position:relative;

  }
  .img-presentation{
    width:100%;
  }

  .overlay-presentation {
    padding-top:20px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: auto; /* Hauteur automatique en fonction du contenu */
    background-color: rgba(0, 0, 0, .6);
    border-radius: 10px 10px 10px 10px; /* Coins arrondis */
    padding: 10px; /* Ajoute un peu d'espace autour du texte */
    color: white; /* Texte en blanc pour qu'il soit lisible sur le fond sombre */
    overflow: hidden; /* Empêche le contenu de dépasser */
}

.body-card {
    position: absolute;
    bottom: 0; /* Place le texte en bas de l'image */
    left: 0;
    width: 100%;
    z-index: 5; /* Assure que le texte soit au-dessus de l'image */
}

.text-presetation {
    margin: 0;
    text-align: center; /* Centre le texte à l'intérieur */
    line-height: 1.5; /* Améliore la lisibilité */
    overflow-wrap: break-word; /* Gère les longues lignes */
    word-wrap: break-word;
}

  .image-item:hover .overlay-presentation{
    height: 40%;
  }
  

  @media (min-width: 1025px) {
    .image-grid {
      grid-template-columns: repeat(3, 1fr); /* 3 images par ligne */
    }
  }
  
  /* Tablettes (2 images par ligne) */
  @media (min-width: 768px) and (max-width: 1024px) {
    .image-grid {
      grid-template-columns: repeat(2, 1fr); /* 2 images par ligne */
    }
  }
  
  /* Petits écrans (1 image par ligne) */
  @media (max-width: 767px) {
    .image-grid {
      grid-template-columns: 1fr; /* 1 image par ligne */
    }

    .overlay-presentation{
      padding-top:20px;
      position:absolute;
      width: 100%;
      bottom: 0px;
      left: 0px;
     
      height: 30%;
      background-color: rgba(0, 0, 0, .6);
      border-radius: 10px 10px 10px 10px; /* Coins arrondis pour les images */
      
  
    }
  }
  
  .image-grid img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px; /* Coins arrondis pour les images */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre légère */
    transition: transform 0.3s ease; /* Animation de zoom */
  }
  
  .image-item:hover {
    transform: scale(1.05); /* Zoom léger au survol */
  }

/*------------------ Viewers --------------*/

/* Conteneur principal */
.section-avis{
  padding: 0px;
}

.avis-container {

  
  background-color: #282828;
  /* Couleur de fond */
  transition: all 0.3s ease;
  
}

.section-content-avis{
  justify-content: flex-start;
}

/* Carte par défaut */
.card-avis {
  width: 270px!important;
  height: 250px;

  margin: 10px 10px!important;
  padding: 20px;
  padding-bottom: 0px;

  background-color: #ffffff; /* Couleur de fond */

  display: flex;
  
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  
  transition: all 0.3s ease;

  position: relative;
  z-index: 1;
}




.card-avis.expanded {
  width: 500px; /* Devenir plus large */
  height: 400px; /* Devenir plus haute */
  margin: 0 auto; /* Se centrer */
  position: fixed; /* Pour centrer et superposer sur la page */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Pour s'assurer qu'elle soit au-dessus des autres éléments */
  overflow-y: scroll; /* Ajout d'un défilement vertical */
  padding: 40px;
  background-color: #6565690e;
  /*box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);*/
}

/* Texte limité à 6 lignes par défaut */
.card-text {
  margin-bottom: 30px;
  word-wrap: break-word; /* Assure que les longs mots sont coupés si nécessaire */
  width: 100%;
  text-align: left;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  max-height: calc(1.2em * 4); /* Limite la hauteur à 4 lignes */
  transition: all 0.3s ease;
}

/* Texte complet lorsque la carte est étendue */
.card.expanded .card-text {
  display: block;
  -webkit-line-clamp: unset;
  max-height: none;
  overflow: visible;
}


 

/* Bouton de la carte */
.show-more-btn {
  background-color: transparent;
  
  border:1px solid black;
  /*box-shadow: 0 4px 10px rgba(255, 247, 247, 0.712); /* Ombre : décalage horizontal, décalage vertical, flou, couleur */
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: auto; /* Place le bouton tout en bas */
}

.show-more-btn:hover {
  background-color: #aabaca26;
}

.show-more-btn-avis{
  border:1px solid white;
  color: white;
}

#show-more-cards {
  justify-self: center; /* Pour centrer le bouton */
  margin: 20px auto; /* Marges automatiques pour centrer */
  display: block; /* S'assurer qu'il est un élément de bloc */
}


@media screen and (max-width: 696px) and (min-width: 0px){
  .card-avis{
    width:100%;
  }
  
}
/* Cartes cachées par défaut */
.card-hidden {
  display: none;
}



.btn-add-review{
  position:fixed;
  bottom: 0px;
  right: 30px;
  width:50px;
  height: 50px;

  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  color:#fff;
  background-color:#000000;
  border-radius: 50%;
  z-index: 100;
}

.btn-add-review-active{
  

  
}
@keyframes heartbeat {
  0%, 100% {
      transform: scale(1);  /* Taille normale */
  }
  25% {
      transform: scale(1.1); /* Grandissement léger */
  }
  50% {
      transform: scale(1.2); /* Grandissement maximum */
  }
  75% {
      transform: scale(1.1); /* Retour à une taille intermédiaire */
  }
}

/* Appliquer l'animation */
.btn-add-review {
    animation: heartbeat 1s infinite; /* L'animation dure 1 seconde et se répète à l'infini */
    animation-timing-function: ease-in-out;
    animation-delay: 3s; /* Attente de 3 secondes avant le premier battement */
}




.add-review{
  position:fixed;
  bottom: 50px;
  right: 90px;

  padding: 30px;
  margin-bottom: 30px;

  
  opacity: 0;
    transform: scale(0); /* Le div commence très petit, comme "dans" le bouton */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transition fluide pour l'apparition */

  

  
  background-color:#000000;
  border-radius:5px;
  z-index: 100;
}

.add-review-active{

  display: flex;
  justify-content: space-between;
  flex-direction:column;
  align-items: center;
  opacity: 1;  /* Le div devient visible */
    transform: scale(1);  /* Le div reprend sa taille normale */
}

.add-review .form-group{
  width: 100%;
  resize: none;
  background-color: #fff;
  padding: 8px;
}

.add-review input, .add-review textarea{
  width: 200px;
}




/*------------------ Equipes --------------*/
.card-team{
  align-items: center;
  padding: 20px;
  padding-bottom: 0px;
  
}

.card-img-top{
  width:150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover; /* Couvre entièrement le conteneur */
  object-position: center 30%; /* Centre l'image et la positionne légèrement vers le bas */

  transition: transform 0.5s ease; /* Transition douce lors du zoom */
}
.card-team {
  position: relative;  /* Position relative pour le conteneur de l'image */
}

.image-container {
  width: 150px;       /* Largeur fixe du conteneur */
  height: 150px;      /* Hauteur fixe du conteneur */
  overflow: hidden;   /* Masque le débordement */
  border-radius: 50%; /* Arrondit les coins */
  display: flex;      /* Utilise flexbox pour centrer l'image */
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
}

.card-img-top-mo {
  width: 150%;          /* Augmente la largeur de l'image pour le zoom */
  height: auto;        /* Ajuste la hauteur automatiquement */
  object-fit: cover;   /* Couvre entièrement le conteneur */
  object-position: center ; /* Centre l'image */
  transform: translate(13%, 10%); /* Ajuste la position de l'image vers la droite et vers le haut */
}


.elements-row{
  width:30%;
}

.element-column{
  margin-top:1rem;
  margin-bottom: 1rem;
}

.competence-content{
align-items: flex-start;
}

.card-content-competence{
    align-items: stretch;
}

@media screen and (max-width: 696px) and (min-width: 0px){
  .elements-row{
    width:100%;
  }
  .competence-content{
    display: flex;
    flex-direction: column;
  }
  .card-content-competence{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


/*------------------ footer --------------*/

.newsletter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e2e2e; 
    padding: 100px;
    margin-top: -20px;
    background-color: linear-gradient(to bottom, rgb(58, 58, 58), #000);
   
  }
  
  .newsletter-label {
    color: #ccc; 
    margin-right: 15px;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    background-color: white;
    width: 400px;
    border-radius: 30px;
    padding-left: 10px;
  }
  
  .newsletter-input {
    border: none;
    border-radius: 30px;
    padding: 20px;
    flex-grow: 1;
    font-size: 16px;
    color: #666;
    outline: none;
  }
  
  .submit-button {
    background-color: #007bff;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
    color: white; 
    font-size: 18px; 
    margin-right: 10px;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }


  .footer-content{
    background-color: rgba(0, 0, 0, .1);
  }
  .footer-content .nav-footer{
    background-color: inherit;
  }
 
  .nav-footer .nav-link{
    color: #000;
    
  }


.copyright{
  border-top: 1px solid rgba(0, 0, 0, .2);
  padding-top:20px;
  padding-bottom: 20px;
}

.media{
    padding:40px 20px;
}


.social-media, .contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    
  }
  
  .social-item, .contact-item {
    width:300px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
    
    
  }
  
  .social-item i, .contact-item i {
    font-size: 24px; /* Taille des icônes */
    margin-right: 10px;
  }

  
  .social-item span, .contact-item span {
    margin-left: 20px;
  }
  
  .contact-item {
    margin-top: 10px;
  }
  
  .contact-item i {
    font-size: 24px;
    color: black;
  }

 

  @media screen and (max-width: 696px) and (min-width: 0px){
    .social-media, .contact-info{
      
      flex-direction: column;
    }
  }
  

