<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/blog/css/style.css">

    <title>Blog</title>
</head>
<body>
    <h1 class="title">Page Principale de Blog</h1>
    <p>{{ posts|length }} Articles published</p>

    <ul><!-- Blog List -->
    {% for post in posts %}

        <li class="list">
            <article>
                <h2><a href="/blog/details/{{post.id}}/">{{ post.title }}</a></h2>
                <p>{{ post.content }}</p>
            </article>
        </li>

        {% if not forloop.last %}
        <hr>
        {% endif %}

        {% empty %}
        <p>
            No articles
        </p>

    {% endfor %}
    </ul><!-- end Blog List -->

</body>
</html>
