
/***************************************
  *************** Start ******************
  ***************************************/

  /* Root */
html{
    font-size: 62.5%; /* =10px ( 16px X 62.5 ) */
}
  :root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    
    --gray: #6c757d;
    --gray-dark: #343a40;
    
    --primary: rgb(73, 63, 117);
    --secondary: #4361ee;
    
    --light: #f8f9fa;
    --dark: #343a40;
    
    --primary-hover: 
    
    --bg-primary: #493f75;
    --bg-secondary: #6c757d;
    --bg-light: #f8f9fa;
    --bg-dark: #343a40;
    
    --rounded: 0.25rem;
    
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    
    --container-width: 1000px;
    /* n'oublie pas de changé media query*/
    --container-padding: 20px;
    
    --bg-color-light:rgba(73, 63, 117, .05);
    --bg-color-dark:rgba(73, 63, 117, .9);
}
