{% extends 'extends/base.html' %}

<!-- Title -->
{% block title %} FAQ {% endblock %}

<!-- Header:Banner -->
{% block banner %} 

{% endblock %} 

<!-- Body  -->
{% block body %} 
    <div class="container" style="text-align: center;">
        <h1 style="font-size: 180px">500</h1>
        <p>We're sorry, but an internal server error has occurred. Our technical team has been notified of this issue and is working to resolve it. Please try again later.</p>
        <a href="{% url 'FAQ:index' %}" type="button" class="btn btn-outline-secondary">FAQ list</a>
    </div>
   
{% endblock %}